.card-container {
  overflow: hidden;
  transition: 0.5s;
  animation: ease-in;
  border-radius: 20px;
  margin-bottom: 50px;
  opacity: 1.0;
  backdrop-filter: blur(5px);
  background-color: rgb(252, 254, 250);
  box-shadow: 0px 0px 15px -5px;
  animation:ease-out;
  transition: 0.4s; 
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  width:350px;
  border-radius: 10px;
  height: 470px;
}

.title {
  position: absolute;
  bottom:5%;
  left:0;
  padding: 5px 10px 5px 30px;
  background-color: white;
  animation: ease-in;
  transition: 0.4s;
  margin-left:0px;
  border-radius:  0px 10px 10px 0; 
}

.atw {
  font-size: 30px;;
}


.image-container img {
  height: 470px;
  animation:ease-out;
  transition: 0.4s;
  border-radius: 0px;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.image-container:hover img {
  opacity: 0.5;
  transition: 0.2s;
}

.card-container:hover .more-info-button {

  background-color: transparent;
  animation: ease-in;
  transition: 0.4s;
  display:initial;
  scale:1.00;
  border: solid 1px white;
}


.card-container:hover .title {
  background-color: transparent;
  color:white;
}

.card-container:hover img {
 opacity: 0.5;
}

.card-container:hover img {
 opacity: 0.5;
}

.card-container:hover {
  transform: scale(1.10);
  background-color: #728153;;
  color:white;
  filter:none;  
  
}

.button-div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  
}

.more-info-button {
  display:none;
  font-family: "Poppins";
  border: solid 2px black;
  font-size: 25px;
  border-radius: 5px;
  padding:10px;
  border:none;
  background-color: transparent;
  color:rgb(253, 252, 250);
  
}

.more-info-button:hover {
  text-decoration: none !important;
  border: solid 1px white;
  box-shadow: 0px 0px 15px -5px;
  transform: scale(1.005);
}

.cards-structure {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.card-content {
   font-family: "Overpasss";
   margin:1rem;
}

.card-content:hover{
  font-family: "Overpasss";
  margin:1rem;
  
}

@media (max-width: 1450px){

  .card-container {
    overflow: hidden;
    
    transition: 0.4s;
    animation: ease-in;
    margin-bottom: 50px;
    
  }

  .more-info-button {
    display:none;
    font-family: "Poppins";
    border: solid 2px black;
    font-size: 25px;
    border-radius: 5px;
    padding:10px;
    border:none;
    background-color: transparent;
    animation:ease-out;
    transition: 0.4s;
    color:rgb(253, 252, 250)
  }
}

@media (max-width: 768px){

  .card-container {
    overflow: hidden;
    transition: 0.5s;
    animation: ease-in;
    border-radius: 10px;
    margin-bottom: 50px;
    opacity: 1.0;
    backdrop-filter: blur(5px);
    background-color: rgb(252, 254, 250);
    box-shadow: 0px 0px 15px -5px;
    animation:ease-out;
    transition: 0.5s; 
    
  }
  
  .title {
    font-size:22px;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    padding: 5px 10px 5px 20px;

  }
  
  
  .card-container {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    width:250px;
    border-radius: 10px;
    height: 350px;
  }
  
  
  
  .image-container img {
    height: 350px;
    animation:ease-out;
    transition: 0.5s;
    border-radius: 0px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }

  .more-info-button {
    font-size:20px;
  }

}


@media (max-width: 425px){
  .card-container {
    overflow: hidden;
    transition: 0.5s;
    animation: ease-in;
    border-radius: 20px;
    margin-bottom: 50px;
    opacity: 1.0;
    backdrop-filter: blur(5px);
    background-color: rgb(252, 254, 250);
    box-shadow: 0px 0px 15px -5px;
    animation:ease-out;
    transition: 0.5s; 
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    width:250x;
    border-radius: 10px;
    height: 350px;
  }
  
  .title {
    position: absolute;
    bottom:5%;
    left:0;
    padding: 5px 10px 5px 30px;
    background-color: white;
    animation: ease-in;
    transition: 0.5s;
    margin-left:0px;
    border-radius:  0px 10px 10px 0; 
  }
  
  .atw {
    font-size: 30px;;
  }
  
  
  .image-container img {
    height: 350px;
    animation:ease-out;
    transition: 0.5s;
    border-radius: 0px;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }



  }

  @media (max-width: 375px){
    .card-container {
      overflow: hidden;
      transition: 0.5s;
      animation: ease-in;
      border-radius: 20px;
      margin-bottom: 50px;
      opacity: 1.0;
      backdrop-filter: blur(5px);
      background-color: rgb(252, 254, 250);
      box-shadow: 0px 0px 15px -5px;
      animation:ease-out;
      transition: 0.5s; 
      position: relative;
      overflow: hidden;
      margin-top: 30px;
      width:200px;
      border-radius: 10px;
      height: 320px;
    }
    
    .title {
      position: absolute;
      bottom:5%;
      left:0;
      padding: 5px 10px 5px 30px;
      background-color: white;
      animation: ease-in;
      transition: 0.5s;
      margin-left:0px;
      border-radius:  0px 10px 10px 0; 
    }
    
    .atw {
      font-size: 30px;;
    }
    
    
    .image-container img {
      height: 320px;
      animation:ease-out;
      transition: 0.5s;
      border-radius: 0px;
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
  
    }