@font-face {
  font-family: Antro_Vectra_Bold;
  src: url("../fonts/Antro_Vectra_Bolder.otf");
}

.contact-methods-left {
  display:flex;
  justify-content: center;
  flex-direction:column;
  margin-bottom: 50px;
}

.form-structure {
  margin-top: 50px;
  background-color: #728153;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: solid 2px black;
  border-radius: 15Px;
  margin-bottom: 100px;
}


.more-structure {
  display: flex;
  justify-content: center;
  padding-bottom:100px;
}


.contact-subtitle1 {
  font-family: "Poppins";
  text-align: center;
  opacity: 0.7;
  color:whitesmoke;
  padding-top: 100px;
}

.contact-one {
  padding-top:70px;
}

.subtitle2 {
  font-family: "Poppins";
  text-align: center;
  padding-bottom: 30px;
  opacity: 0.7;;
 
}

.result2 {
  display: none;
}


.contact-main-title {
  font-family: 'Antro_Vectra_Bold';
  font-size: 100px;
  margin-left: 80px;
  margin-bottom: 20px;
  padding-top: 100px;
  color:whitesmoke
}


.send-and-result {
  display: flex;
  justify-content: space-between;
  margin-right:200px;
  margin-left:200px;
  
}
.specific-contact-method  {
  display: flex;
  justify-content: space-around;
  flex-direction:column;
  font-family: "Overpasss";
  font-size: 30px;
  padding-top:5px;
  width: 300px;
}

.left {
  margin-right: 50px;
}

.input {
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  border:none;
  box-shadow: 0px 0px 5px -3px;
  margin:10px 0 10px 0;
  transition: 0.5s;
  animation: ease-in;
}
.input:hover {
  font-size: 20px;
  border-radius: 15px;
  border:none;
  box-shadow: 0px 0px 20px -5px;
}

::-webkit-input-placeholder {
  color:#262525;
  font-style: italic;
  opacity: 0.8;
}
.submit-button {
  width: 300px;
  padding:13px 0;
  background-color: #e7fade;
  color:black;
  border:none;
  border-radius:5px;
  transition: 0.2s;
  animation: ease-in;
  margin-bottom: 40px;
  font-family: "Poppins";
  font-size: 20px;
  margin-top: 10px;

}

.submit-button:hover {
  transform: scale(1.05);
  background-color: #91b689;
  color:white;
  border:none;
  box-shadow: 0px 0px 5px -5px;
  font-size: 20px;

}

.submit-position2 {
  display:none
}


.message-box {
  width:600px;
  height:310px;
  border:none;
  border-radius:5px;
  padding: 15px;
  font-family: "Overpasss";
  font-size: 20px;
  transition: 0.5s;
  animation: ease-in;
  margin-top:10px;
}


.message-box:hover {
  box-shadow: 0px 0px 20px -5px;
  border-radius:15px;
}

.result-text {
  margin-top: 20px;
  font-size: 20px;
  height:50px;
  font-family: "Overpass";
  margin-top: 5px;
  color:white;
}


@media (max-width: 768px){

  .form-structure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    margin-top:0px;
    padding-bottom: 10px;
    background-color: #728153;
    box-shadow: 0px 0px 15px -5px;
  }

  .more-structure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }

  .contact-main-title {
    font-family: 'Antro_Vectra_Bold';;
    font-size: 100px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0;
    margin-right: 30px;
  }

  .contact-methods-left {
    margin-bottom: 10px;
  }
  .contact-subtitle {
    text-align: center;
    width: 400px;
  }

  .message-box {
    height:220px;
    margin-bottom:20px;
    border:none;
    border-radius:10px;
    padding: 15px;
    margin-right: 50px;
    width:400px;
  }

  .submit-button {
    width: 300px;
    background-color: #91b689;
    color:black;
    border:none;
    border-radius:5px;
    transition: 0.5s;
    animation: ease-in;
    margin-bottom: 0px;
    margin-top:0px;
  }

  .submit-position1 {
    display:none
  }

  .submit-position2 {
    display:initial;
  }
  .send-and-result {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:15px;
    margin-left:0px;
  }
  
  .result-text {
    font-size: 15px;
    font-family: "Overpass";
    padding-top: 10px;
  }

  .result1 {
    display: none;
  }  

  .result2 {
    display: initial;
  }

  .contact-subtitle {
    font-size: 30px;
    width: 350px;
    text-align: center;
  }
  
  .specific-contact-method {
    width: 350px;
  }
  .contact-methods-left { 
  margin-right: 0px;
  margin-left: 0px;
  }

  .form-structure {
    display: flex;
    justify-content: center;
}

  .more-structure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 425px){

  .contact-main-title {
    font-size: 70px;
  }

  .subtitle2 {
    font-family: "Poppins";
    text-align: center;
    padding-bottom: 30px;
    opacity: 0.7;
    color:whitesmoke;
    font-size:15px;
  }

  .form-structure {

    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
  }
  .message-box {
    width:350px;
    margin-left:17px;
  }

  .specific-contact-method {
    margin-left:17px;
  }
  .submit-button {
    width:200px;
  }  
 
}


@media (max-width: 375px){

  .message-box {
    width:350px;
  }

  .more-structure {
    margin-left:27px;

  }

  .contact-methods-left {
    margin-bottom: 10px;
    align-items: center;
  }

  .specific-contact-method {
    margin-left:22px;
  }

}

@media (max-width: 320px){

  

  .message-box {
    width:250px;
  }

  .contact-methods-left {
    width:200px;
  }

  .contact-main-title {
    font-size: 60px;

  
  }

}
