
@font-face {
  font-family: Creation_demo;
  src: url("../fonts/Creattion\ Demo.otf");
}
@font-face {
  font-family: Antro_Vectra_Bold;
  src: url("../fonts/Antro_Vectra_Bolder.otf");
}

.home-page {
  display:flex;
  justify-content: center; 
}

.fade-in-text {
  margin-top: 400px;
  margin-bottom: 130px;
  font-family: "Antro_Vectra_Bold";
  font-size: 50px;
  color: #224a1b;
  opacity: 0.7; 
  margin:30px, 30px;
  animation: fadeInout 4s;
  animation-fill-mode: forwards;
  padding-bottom: 160px;
}


@keyframes fadeInout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0;}
}

@-moz-keyframes fadeInout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0;}
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0;}
}

@-o-keyframes fadeIout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0;}
}

@-ms-keyframes fadeInout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0;}
}


@media (max-width: 1450px){
  .fade-in-text {
    margin-top: 400px;
    margin-bottom: 130px;
    font-family: "Antro_Vectra_Bold";
    font-size: 50px;
    color: #224a1b;
    opacity: 0.7; 
    margin:30px, 30px;
    animation: fadeInout 4s;
    animation-fill-mode: forwards;
    padding-bottom: 0;
    
  }
}

@media (max-width: 1024px){ 
  .fade-in-text {
    font-size: 60px;
    color: #CCD6A6;
    opacity:1; 
    text-align: center;
    width: 700px;
    
  }
  
}


@media (max-width: 768px){ 
  .fade-in-text {
    font-size: 40px;
    color: #CCD6A6;
    opacity:1; 
    text-align: center;
    width: 500px;
    margin-top: 320px;
    margin-bottom: 130px;    
  }
}

@media (max-width: 320px){
  .fade-in-text {
    margin: 250px 30px 150px 30px;
    font-size: 30px;
  }
}