@font-face {
  font-family: Antro_Vectra;
  src: url("../fonts/Antro_Vectra.otf");
}

.Navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #728153;
  width: 100%;
  position: absolute;


}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

.get-help-nav-option {
  border:2px solid black;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-style: none;
  padding: 10px;
}

.nav-title {
  font-weight: 700;
  font-family: 'Antro_Vectra';
  font-style: none;
  margin-top: 20px;
  color: aliceblue;

}


.Navbar > .nav-logo {
  display: flex;
  flex-direction:center;  
  font-weight: 700;
  margin: 15px;
  font-family: "Overpasss";
  margin-left: 40px;
  
}

.Navbar > .nav-logo > .navbar-image {
  padding-right: 5px;
  resize:none;
  object-fit: cover;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  background-color: rgb(250, 254, 246);
  margin-top: 50px;
  padding: 7px;
  z-index: 1000;
  border: solid 3px #728153;
  animation:ease-in-out;
  transition: 0.5s;
}

.Navbar > .nav-logo > .navbar-image:hover {
  box-shadow: 0px 0px 30px #aacb63;
  cursor: pointer;
  animation:ease-in-out;
  transition: 0.5s;

}
.Navbar > .nav-logo > .nav-title {
  padding-left: 20px;
  font-size: 30px;
  margin-top: 70px;
  color: aliceblue;
  height: 40px;
  margin-left: 10px;
  animation:ease-out;
  transition: 0.5s;

}



.Navbar > .nav-logo > .nav-title:hover {
  cursor:pointer;
  color:#aacb63;
  box-shadow: 0px 15px 17px -10px;
  
}


.Navbar > .nav-items {
  margin-right: 40px;
}
.Navbar > .nav-items > a {
   color: aliceblue;
  font-size: 20px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
  font-family: "Poppins";

}


.Navbar > .nav-items > a:hover {
  opacity: 1;
  color:#aacb63;
  text-shadow: 15px 15px 15px -5px;
  box-shadow: 0px 15px 15px -5px;
 
}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #DFE8CC;
  transition: all 0.45s;
 
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
}

.Navbar > .nav-toggle {
  display: none;
}



@media (max-width: 1024px) {

  .Navbar > .nav-logo {
    margin-left:10px;
  }

  .Navbar > .nav-items {
    margin-right:10px;
  }
  
  .Navbar > .nav-items > a {
    margin-right: 5px;
    font-size:18px;
  }


  .Navbar > .nav-logo > .navbar-image {
    padding-right: 5px;
    resize:none;
    object-fit: cover;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    background-color: rgb(250, 254, 246);
    margin-top: 45px;
    margin-left: 10px;
    padding: 7px;
    z-index: 1000;
    border: solid 3px #728153;
    animation:ease-in-out;
    transition: 0.5s;
  }
  
  .Navbar > .nav-logo > .navbar-image:hover {
    box-shadow: 0px 0px 30px #aacb63;
    cursor: pointer;
    animation:ease-in-out;
    transition: 0.5s;
  
  }
  .Navbar > .nav-logo > .nav-title {
    padding-left: 20px;
    font-size: 25px;
    margin-top: 65px;
    color: aliceblue;
    height: 40px;
    margin-left: 0px;
    animation:ease-out;
    transition: 0.5s;
  
  }
}  

  


@media (max-width: 768px) {
  .Navbar > .nav-items {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    background: #899a69;
    left: 0;
    width: 100%;
    height: 340%;
    transform: translateX(-100%);
    transition: all 0.8s;
    padding-top: 25px;
    padding-left: 20px;
    z-index: 3;
  }

  .Navbar {
    height:100px;
  }

  .Navbar > .nav-logo > .nav-title {
    padding-left: 10px;
    font-size: 30px;
    margin-left: 60px;
  }
  .Navbar > .nav-logo > .navbar-image {
    padding-right: 5px;
    resize:none;
    object-fit: cover;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    margin-left: 30px;
    background-color: rgb(250, 254, 246);
    
  }

  .Navbar > .nav-items > a:hover {
    opacity: 1;
    color:#aacb63;
    text-shadow: none;
    box-shadow: none;
   
  }


  .Navbar > .nav-items > a::before {
      background: transparent;
  }

  .Navbar > .nav-items.open {
      transform: translateX(0%);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
  }

  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open > .bar {
      transform: translateX(-40px);
      background: transparent;
  }

  .nav-toggle.open > .bar::before {
      width: 32px;
      transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}

@media (max-width: 425px) {
  .Navbar > .nav-logo > .nav-title {
    padding-left: 20px;
    width: 100%;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    padding-left: none;
    margin-top: 20px;
    text-align: center;
    font-size: 23px;
  }
  .Navbar > .nav-logo {
    display: flex;
    flex-direction:center;  
    font-weight: 700;
    color: #C7D36F;
    font-family: "Overpasss";
    font-weight:600;
  
  }

  .Navbar > .nav-logo > .navbar-image {
    display:none;
  }

  .Navbar > .nav-items {
    padding-left: 10px;
    height: 330%;
    padding-top: 20px;
  }


}

