.home-img {
  width:600px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top:150px;
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 8s;
  -moz-animation: fadeIn 8s;
  -o-animation: fadeIn 8s;
  -ms-animation: fadeIn 8s; 
}


@keyframes fadeIn {
  0% { opacity: 0; }
  45% { opacity: 0;}
  100% { opacity: 0.8;}
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  45% { opacity: 0;}
  100% { opacity: 0.8;}
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  45% { opacity: 0;}
  100% { opacity: 0.8;}
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  45% { opacity: 0;}
  100% { opacity: 0.8;}
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  45% { opacity: 0;}
  100% { opacity: 0.8;}
}


@media (max-width: 1024px){
  .home-img {
    width: 500px;
  }
}

@media (max-width: 425px){
  .home-img {
    width: 350px;
  }
}


@media (max-width: 320px){

  .home-img {
    width:300px;
  }
}